{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}


{% block content %}

<table class="table table-bordered table-striped table-hover">

    <tr>
        <th>issue id</th>
        <th>reporter</th>
        <th>owner</th>
        <th>estimated time</th>
        <th>severity</th>
        <th style="width: 80%">Summary</th>
        <!-- <th>Created</th> -->
        <th>Status</th>
    </tr>

        {% for issue in issues %}
        <tr class="{{issue['severity_class']}}">
            <td>
                <a class="btn btn-primary btn-xs" href="/issues/{{issue['id']}}" role="button"> #{{ issue['id'] }} </a>
            </td>
            <td>{{ issue['reporter'] }}</td>
            <td>{{ issue['owner'] }}</td>
            <td>{{ issue['estimated_time'] }}</td>
            <td>{{ issue['severity'] }}</td>
            <td>{{ issue['short_text'] }}</td>
            <!-- <td>{{ issue['created_date'].replace(microsecond=0) }}</td> -->

            <td>
                {% if issue['open'] %}
                Open
                {% else %}
                Closed
                {% endif %}
            </td>


        </tr>
        {% endfor %}



</table>


{% endblock %}
