{% extends "layout.html" %}

{% block title %}
Index
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}


{% block content %}


<div class="panel panel-default">
    <div class="panel-heading">
        {% if form.issue_id<0 %}
        <h3 class="panel-title">Create new issue</h3>
        {% else %}
        <h3 class="panel-title">Edit issue {{form.issue_id}}</h3>
        {% endif %}
    </div>
    <div class="panel-body">

        <form method="POST" action="/issues/{{form.issue_id}}" class="form" role="form">
            {{ form.hidden_tag() }}

            <div class="form-inline">
                <div class="form-group">
                    {{ form.owner.label }} {{ form.owner(class='form-control') }}
                </div>

                <div class="form-group">
                    {{ form.estimated_time.label }} {{ form.estimated_time(class='form-control',size=3) }}
                </div>

                <div class="form-group">
                    {{ form.severity.label }} {{ form.severity(class='form-control') }}
                </div>

                <div class="form-group">
                    {{ form.open.label }} {{ form.open(class='form-control') }}
                </div>

            </div>

            <div class="form-group">
                {{ form.short_text.label }} {{ form.short_text(class='form-control') }}
            </div>
            <div class="form-group">
                {{ form.long_text.label }} {{ form.long_text(class='form-control',rows="10") }}
            </div>


            <input type="submit" class="btn btn-success btn-sm" value="Update">
        </form>

    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">Attachments</div>
    <ol>

        {% for att in attachments %}
        <li><a href="/uploads/{{ att[1] }}">{{ att[0] }}</a></li>
        {% endfor %}

    </ol>


    <form method="POST" action="/issues/{{new_att_form.issue_id}}" method="post" enctype="multipart/form-data"
          class="form-inline" role="form">
        {{ new_att_form.hidden_tag() }}
        <div class="form-group">
            {{ new_att_form.filename() }}
        </div>
        <button type="submit" class="btn btn-success btn-sm">Add new attachment</button>

    </form>


</div>


{% endblock %}
