{% extends "layout.html" %}

{% block title %}
Settings
{% endblock %}

{% block head %}
{{ super() }}
{% endblock %}


{% block content %}


<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Settings</h3>
    </div>
    <div class="panel-body">

        <form method="POST" action="/settings" class="form" role="form">
            {{ update_password_form.hidden_tag() }}

            <div class="form-inline">
                <div class="form-group">
                    {{ update_password_form.old_password(class='form-control',placeholder='Current password') }}
                </div>
                <div class="form-group">
                    {{ update_password_form.new_password_1(class='form-control',placeholder='New password') }}
                </div>
                <div class="form-group">
                    {{ update_password_form.new_password_2(class='form-control',placeholder='New password again') }}
                </div>

            <input type="submit" class="btn btn-success btn-sm" value="Update password">
            </div>
        </form>

        <form method="POST" action="/settings" class="form" role="form">
            {{ form2.hidden_tag() }}

            <div class="form-inline">
                <div class="form-group">
                    {{ form2.field(class='form-control',placeholder='something') }}
                </div>
            <input type="submit" class="btn btn-success btn-sm" value="form2 submit">
            </div>
        </form>



    </div>
</div>

{% endblock %}
